$def with (message2)
<!DOCTYPE html>
<html>
    <head>
        <title>Registrar</title>
        
    </head>
    <body>
        $message2
        <h1>Registrar</h1>
        <form method="POST">
            <p>Nombre :</p>
            <input type="nombre" name="nombre" id="nombre"><br>
            <p>Télefono :</p>
            <input type="telefono" name="telefono" id="telefono"><br>
            <p>Email :</p>
            <input type="email" name="email" id="email"><br>
            <p>Contraseña :</p>
            <input type="password" name="password" id="password"><br>
            <input type="submit" value="Singup"><br>
        </form>
    </body>
    <a href="/">Sing in</a>
</html>