$def with (message2)
<!DOCTYPE html>
<html>
    <head>
        <title>Registrar</title>
        
    </head>
    <body>
        $message2
        <h1>Registrar</h1>
        <form method="POST">

            <div class="form-group">
                <label for="name">Nombre:</label>
                <input type="text"   name="nombre"  class="form-control" id="nombre" >
            </div>
        
            <div class="form-group">
                <label for="name">Email:</label>
                <input type="text"   class="form-control" id="email" name="email">
            </div>
        
            <div class="form-group">
                <label for="name">Telefono:</label>
                <input type="text"  name="telefono"  class="form-control" id="telefono">
            </div>

            <div class="form-group">
                <label for="name">Contraseña:</label>
                <input type="text"  name="password"  class="form-control" id="password" >
            </div>

            <div class="form-group">
                <label for="name">Level:</label>
                <input type="text"  name="level"  class="form-control" id="level" >
            </div>
            <br>
            <input type="submit" value="Registrar"><br>
        </form>
    </body>
</html>