$def with(user)

<form  method="POST" >
    <div class="form-group">
        <label for="name">Nombre:</label>
        <input type="text"   name="nombre"  class="form-control" id="nombre"  >
    </div>

    <div class="form-group">
        <label for="name">Email:</label>
        <input type="text"   class="form-control" id="email" name="email"  >
    </div>

    <div class="form-group">
        <label for="estado">Activar/Desactivar:</label>
        <input type="text"  name="estado" class="form-control" id="estado"  >
    </div>

    <input type="submit" value="Ejecutar"><br>

</form>