$def with(user)

<form  >
    <div class="form-group">
        <label for="name">nombre:</label>
        <input type="text" readonly  class="form-control" id="nombre" value=" $user.val().get('nombre')" >
    </div>

    <div class="form-group">
        <label for="name">email:</label>
        <input type="text" readonly  class="form-control" id="email" value="$user.val().get('email')">
    </div>

    <div class="form-group">
        <label for="name">telefono:</label>
        <input type="text" readonly  class="form-control" id="telefono"   value="$user.val().get('telefono')">
    </div>

    <div class="form-group">
        <label for="name">level:</label>
        <input type="text" readonly class="form-control" id="level"  value="$user.val().get('level')" >
    </div>

</form>

<a href="/user_list"> lista de usuarios</a>

