$def with(users)

<table class="table">
    <thead>
      <td>Nombre del usuario</td>
      <td>Email</td>
      <td>Actulizar usuario</td>
      <td>Activar/Desactivar</td>
     </thead>

    $for user in users:
        <tr>
          <td><a href= "/user_view_admin/$user.key()"> $user.val().get("nombre")</a></td>
          <td>$user.val().get("email")</td>
          <td><a href= "/update_users_admin/$user.key()"> Actulizar usuario </a></td>
          <td><a href= "/on_off_count_admin/$user.key()"> Activar/Desactivar </a></td>
        </tr>
</table>