<h1>index </h1>
<p>publica</p>

<link rel=""
<table class="default">

    <tr>
  
      <th>sensor1</th>
  
      <th>sensor2</th>
  
      <th>sensor3</th>
  
    </tr>
  
  
    <tr>
  
      <td id="aaaa">{{sensor1}}</td>
  
      <td id="bbb">{{sensor2}}</td>
  
      <td id="ccc">{{sensor3}}</td>
  
    </tr>
  
  </table>

  <script>
      window.setInterval(function(){

       var request = new XMLHttpRequest();
       request.open('GET', '/sensores');
       request.onload = () => {
            const response = request.responseText;
            console.log(response);
            const json = JSON.parse(response);
            document.getElementById('bbb').innerHTML = json["bbb"].temperatura;
            document.getElementById('aaaa').innerHTML = json["aaaa"].temperatura;
            document.getElementById('ccc').innerHTML = json["ccc"].temperatura;
       };

       request.send();

      },1000);
  </script>